<h1>User info</h1>

<%= form_with model:@user, local:true do |f| %>

  <h4>Name</h4>
  <%= f.text_field :name %>

  <h4>Image</h4>
  <%#imageは『text』でいいのか？%>
  <%#ない場合は『イメージ画像』を表示するコードも書く。%>
  <%# <%= f.text_field :image %>
  
  <h4>Introduction</h4>
  <%= f.text_area :introduction %>

  <%= f.submit 'Update User' %>

<% end %>