<h1>New Book</h1>


<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<%= form_with model:book, local:true do |new| %>

  <h4>Title</h4>
  <%= new.text_field :title %>

  <h4>Opinion</h4>
  <%= new.text_area :opinion %>

  <%= new.submit 'Create Book' %>

<% end %>