<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>Title</th>
      <th>opinion</th>
    </tr>
  </thead>

  <tbody>
   <% @books.each do |book| %>
   <tr>
     <%#ここに ❶userプロフィール画像（❷リンク化）%>  
     <%# *ここ途中！　imageは％で囲わない！%>
     <%#先にuser_info　を作成する！%>
     <td><%= book.user.image_id %></td>
     <td><%= book.title %></td><%#タイトルをリンク化%>
     <td><%= book.opinion %></td>
   </tr>
   <% end %>
   
  </tbody>
</table>













<%= render 'users/info', user: @user %>

<%= render 'books/new', book: @book %>